<div class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
        <div class="container">
            <ul class="nav">
                <li >
                    <a class="brand" href="~/Home/AdminDashboard">Home</a>
                </li>
                <li><a href="~/Home/AddUser">Add new User</a></li>
                <li><a href="~/Home/Announcement">Make Announcement</a></li>
                <li><a href="~/Home/DeleteUser">Delete User Account</a></li>
                <li class="pull-right">
                    <a href="~/Home/logout">Log out</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="span12 offset5" style="margin-top:50px;">
    <h2><u>Save other's life with your blood</u></h2>
</div>
