<div class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
        <div class="container">
            <ul class="nav">
                <li>
                    <a class="brand" href="~/home/Dashboard">Home</a>
                </li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="/home/post">Post Request</a></li>
                <li><a href="~/Home/SimpleSearch">Search</a></li>
                <li><a href="~/Home/Evaluation">Evaluation</a></li>
                <li>
                    <input type="text" class="search-query" placeholder="Search" name="query" id="search">
                </li>
                <li class="pull-right">
                    <a href="~/Home/logout">Log out</a>
                </li>
            </ul>
            <ul class="nav pull-right">
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">Settings<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/home/ChangePassword">Change Password</a></li>
                        <li><a href="/home/profile">Profile</a></li>
                        <li class="divider"></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="span12 offset5" style="margin-top: 50px; margin-bottom: 30px">
    <h2><u>Save other's life with your blood</u></h2>
</div>
