<div class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
        <div class="container">
            <ul class="nav">
                <li>               
                     <h3><span class="glyphicon glyphicon-asterisk" style="color:#68a1ef">

                         </span> BLOOD BANK</h3>
                </li>
                <li>
                    <a  href="~/home/Index">Home</a>
                </li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="span12" style="margin-top:50px; margin-bottom:30px;text-align:right">
    <h2><u>Save other's life with your blood</u></h2>
</div>
