@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_userLayout.cshtml";
}

<div class="container-fluid">  
  <div class="row-fluid">  
    <div class="span9 offset3 well" >  
      
        <h2>Change Password</h2>
        <h2>Please Provide following information</h2>
        <form method="post" id="getPassword" onsubmit="return getPassword()">
            <label>Old Password</label>
            <input type="password" name="oldpassword" id="oldpassword" />
            <label>New Password</label>
            <input type="password" name="newpassword" id="newpassword"/><br />
            <span id="errors"></span>
            <input type="submit" class="btn btn-primary" value="Submit"/>
        </form>
    </div>  
  </div>  
</div> 
<script>
    function getPassword() {

        var old = $('#oldpassword').val();
        var newp = $('#newpassword').val();
        var text = "<ul>";
        if (old.length == 0)
            text += "<li>Please Enter Old Password</li>";
        if (newp.length == 0)
            text += "<li>Please Enter New Password</li></ul>";
        $('#errors').html(text);
        if (text.length > 5) {
            $('#errors').css('color', 'red');
            return false;
        }
        $.ajax({
            type: 'POST',
            url: '/home/SetPassword', data: $('#getPassword').serialize(),
            success: function (x) {
                $('#errors').css('color','blue');
                $('#errors').text(x);
                $('#errors').append('<br/>');
            },
            error: function (x) {
                $('#errors').css('color', 'red');
                $('#errors').text(x);
                $('#errors').append('<br/>');
            }
        })
        return false;
    }
</script>
